<!DOCTYPE html>
<html>

<head>
  {{- partial "meta.html" . }}
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css' type='text/css' />
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Roboto';
      font-size: 14px;
    }
  
    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    h3 {
      text-align: center;
      width: 100%;
      margin-bottom: 0px;
      margin-top: 8px;
      color: #003844;
    }

    .btn {
      border: none;
      background: #0AB1A7;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      display: inline-block;
      margin-top: 16px;
      
    }
    .preview {
      height:127px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 12px;
      border-radius: 8px;
    }

    .mapboxgl-ctrl-geocoder {
      min-width: 320px!important;
      left: 70px;
      color: #003844;
    }

    #about {
      top: 8px;
      left: 20px;
      position: absolute;
      border: none;
      background: #0AB1A7;
      color: white;
      font-size: 16px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      padding: 0px;
      border-radius: 8px;
    }
</style>
</head>
<body>
  <div id='map'></div>
  <div><a href="faq" ><button id="about">Info</button></a></div>
  <script>
    mapboxgl.accessToken = '{{ .Site.Params.MapboxAccessToken }}';
    geoJsonURL = '{{ .Site.Params.GeoJSON }}';
    const map = new mapboxgl.Map({
      container: 'map',
      style: '{{ .Site.Params.MapboxTheme }}',
      center: [9.188686, 45.46435], 
      zoom: 12 
    });
    
    var features = [];
    map.addControl(new mapboxgl.NavigationControl());
    map.addControl(
        new mapboxgl.GeolocateControl({
            positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: false
        })
    );
    map.addControl(
            new MapboxGeocoder({
            accessToken: mapboxgl.accessToken + "a" , // the only way to disable remote calls :(
            localGeocoder: forwardGeocoder,
            localGeocoderOnly: true,
            zoom: 14,
            mapboxgl: mapboxgl,
            placeholder: '{{ .Params.Searchsuggestion }}',
            enableEventLogging: false,
            marker: false
            }), 'top-left'
        );


    map.on('load', function() {
      {{ if .Site.Params.enableIPtoCoords}}
      $.getJSON( 'https://ipapi.co/json/', function( data ) {
          if( data.latitude && data.longitude) {
            map.setCenter( [parseFloat(data.longitude), parseFloat(data.latitude)]);
          }
      })
      {{ end}}
        map.addSource('poi', {
            type: 'geojson',
            data: geoJsonURL
        });
        
        map.loadImage( '/marker.png',
          function(error, image) {
              if (error) throw error;
              map.addImage('marker', image);
              map.addLayer({
                  'id': 'pois',
                  'type': 'symbol',
                  'source': 'poi',
                  'layout': {
                  // get the icon name from the source's "icon" property
                  // concatenate the name to get an icon from the style's sprite sheet
                  // get the title name from the source's "title" property
                // 'text-field': ['get', 'title'],
                // 'text-anchor': 'top' 
                    'icon-image': 'marker',
                    'icon-size': 1
                  }
              });
        });
        map.on('click', 'pois', function(e) {
          console.log("{{.Params.gotoVoucher}}")
            const coordinates = e.features[0].geometry.coordinates.slice();       
            const action = "{{ .Params.gotoVoucher }}";
            const description =`<h3>${e.features[0].properties.title}</h3><span>${e.features[0].properties.address}</span><img class="preview" src="${e.features[0].properties.image}" /><a href="${e.features[0].properties.url}" target="_blank"><button class="btn info">${action}</button></a>`

            // Ensure that if the map is zoomed out such that multiple
            // copies of the feature are visible, the popup appears
            // over the copy being pointed to.
            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
              coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }
            
            new mapboxgl.Popup()
              .setLngLat(coordinates)
              .setHTML(description)
              .addTo(map);
            });
            
            // Change the cursor to a pointer when the mouse is over the places layer.
            map.on('mouseenter', 'places', function() {
              map.getCanvas().style.cursor = 'pointer';
            });
            
            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'places', function() {
              map.getCanvas().style.cursor = '';
            });
    });

    function forwardGeocoder(query) {

      if( features.length == 0 ) {
        $.getJSON( geoJsonURL, function( data ) {
              features = [];
              $.each( data.features, function( key, val ) {
                features.push( {title:val.properties.title, address:val.properties.address, coordinates:val.geometry.coordinates} );
              });
              return forwardGeocoder( query)
          });
      } else {
        var matchingFeatures = [];
        for (var i = 0; i < features.length; i++) {
          var feature = features[i];
          // handle queries with different capitalization than the source data by calling toLowerCase()
          if (
            feature.title
            .toLowerCase()
            .search(query.toLowerCase()) !== -1
           ) {
          feature['place_name'] = '💚' + feature.title + ' - ' + feature.address ;
          feature['center'] = feature.coordinates;
          feature['place_type'] = [''];

          matchingFeatures.push(feature);
          }
        }
        return matchingFeatures;
      }
    }

    function getSearchParameters() {
      var prmstr = window.location.search.substr(1);
      return prmstr != null && prmstr != "" ? transformToAssocArray(prmstr) : {};
    }

    function transformToAssocArray( prmstr ) {
        var params = {};
        var prmarr = prmstr.split("&");
        for ( var i = 0; i < prmarr.length; i++) {
            var tmparr = prmarr[i].split("=");
            params[tmparr[0]] = tmparr[1];
        }
        return params;
    }

    const params = getSearchParameters();

    // if it's a direct link we display the message
    if( $.isEmptyObject(params)) {
      Swal.fire({
        title: '{{ .Title }}',
        text: '{{ .Description }}',
        showCancelButton: true,
        confirmButtonColor: '#0AB1A7',
        cancelButtonColor: '#0AB1A7',
        confirmButtonText: 'Info',
        cancelButtonText: '{{ .Params.Map }}',
        imageUrl: '/image_opening.png',
        imageWidth: 285,
        imageHeight: 150,
        imageAlt: '{{ .Title }}',
      }).then((result) => {
        if (result.value) {
          document.location = "faq";
        }
      })
    }
  </script>

<script src="/__/firebase/7.12.0/firebase-app.js"></script>
<script src="/__/firebase/7.12.0/firebase-analytics.js"></script>
<script src="/__/firebase/init.js"></script>
</body>

</html>
